@import "tailwindcss";

body{
    background-color: black;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.chromium-select-fix{
    background: #333;
    border: 1px solid #555;
}
